body {
  font-family: 'Helvetica';
  margin: 0 auto;
  position: relative;
}

.title {
  margin: 0 40px;
  padding: 20px 20px 0 20px;
}

.title .name {
  display: inline-block;
  margin-left: 250px;
  color: #727171;
  font-size: 14px;
}

.main {
  margin: 20px 50px 50px 50px;
}

h2.title {
  text-align: center;
  text-transform: uppercase;
  color: #515151;
  margin: 0 200px;
  font-size: 30px;
  border-bottom: solid 1px #515151;
  padding: 34px 0 16px 0;
}

.item {
  position: relative;
  padding: 5px;
}

.item summary {
  border-bottom: 1px solid #eee;
}

.item summary:focus {
  outline: none;
}

.item summary:hover {
  outline: none;
  background-color: #eee;
}

details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px
  }

  100% {
    opacity: 1;
    margin-top: 0px
  }
}

.graph {
  display: inline-block;
}

.graph>div {
  display: inline-block;
  width: 500px;
}

.label {
  width: 200px;
  display: inline-block;
  text-transform: capitalize;
  color: #5f5c5c;
}

.region-detail.hide,
.region-detail2.hide,
.region-stacked,
.treeMap {
  display: none;
  position: relative;
  opacity: 0;
  height: 0;
  visibility: hidden;
  padding: 10px;
  -webkit-transition: linear 600ms;
  transition: linear 600ms;
}

.stacked-graph .legend h6 {
  display: inline-block;
  margin: 0 auto;
}

.tree-map .legend {
  margin-bottom: 5px;
}

.tree-map .legend h6 {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

.tree-map .legend h6 span {
  margin-right: 4px;
  border-radius: 5px;
  width: 10px;
  height: 10px; 
}

.stacked-graph .legend h6::before {
  content: 'x';
  background: #b39ddb;
  height: 20px;
  width: 30px;
  color: #b39ddb;
  border-radius: 50%;
  margin-right: 5px;
}

.stacked-graph .legend h6:last-of-type:before {
  content: 'x';
  background: #90caf9;
  height: 20px;
  width: 30px;
  color: #90caf9;
  border-radius: 50%;
  margin-right: 5px;
}

.region-detail,
.region-detail2,
.treeMap.active,
.region-stacked.active {
  display: inline-block;
  position: relative;
  height: 100%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: linear 600ms;
  transition: linear 600ms;
}

.region-stacked.active {
  display: block;
  width: 50%;
  float: left;
}

.region-detail h4,
.region-detail2 h4 {
  text-align: right;
}

.treeMap.active h4,
.region-stacked.active h4 {
  text-align: center;
}

h4 span {
  font-size: 14px;
  color: #aaa;
  font-weight: normal;
}

button.showJoin {
  position: absolute;
  top: 80px;
  right: 0;
  top: 20;
  background: #ccc;
  border: none;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #6e2091;
  color: #ecf0f1;
  transition: background-color .3s;
  font-size: 15px;
  padding: 5px 10px;
}
